body {
    background-color: rgb(249, 249, 166);
}

.card {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 500px;
  height: 1000px;
  background-color: rgb(26, 22, 69);
  border: solid 5px white;
  border-radius: 30px;
}




span {
  font-size: 5px;  
}